.eraser {
  $root: &;

  position: relative;

  @include fullHeight;
  @include displayCenter;
  cursor: pointer;
  font-family: 'Averta';

  video {
    @include fullSize;
    object-fit: cover;
  }
  canvas {
    @include absoluteZero;
    display: block;
  }
}

.eraser-mobile {
  @extend .eraser;
  $root: &;
  font-family: 'Averta';

  &-overlay {
    @include fullSize;
    @include absoluteZero;
    z-index: 70;
    background-color: rgba(0, 0, 0, 0.65);

    &-button {
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      background: $color-graybase;
      padding: 3.5vw;
      position: absolute;
      z-index: 95;
    }

    &-svg {
      width: 100%;
      height: 100%;
    }
  }
}
