.cover-image {
  width: 100%;
  height: 60vw;
  margin-top: 31vw;
  background: $color-bg;

  @include media('<=tablet') {
    height: 100vw;
    margin-top: 31vw;
  }
  @include media('>tablet', '<laptop') {
    height: 100vw;
    margin-top: 13.5vw;
  }

  @include media('>=laptop', '<split') {
    padding-inline: 7.5%;
    height: 50vw;
    margin-top: 0px;
  }

  @include media('>=split') {
    padding-inline: 7.5%;
    height: 85vh;
    margin-top: 0px;
    max-width: 3840px;
  }
}
