.interns {
  $root: &;

  position: relative;
  z-index: 3;
  overflow: hidden;
  background: $color-bg;

  &-block {
    display: block;

    &-name {
      font-size: 3.75vw;
      font-weight: 600;
      margin-top: 1.5vw;
      text-align: left;
      @include media('>tablet', '<laptop') {
        font-size: 2.5vw;
      }
      @include media('>=laptop', '<split') {
        margin-top: 1.5vw;
        letter-spacing: -0.03vw;
        font-size: 1.5vw;
      }
      @include media('>=split') {
        padding-top: 38.5px;
        letter-spacing: -0.05px;
        font-size: 48px;
      }
    }

    &-post {
      font-size: 3.25vw;
      font-weight: 400;
      text-align: left;
      opacity: 0.6;
      @include media('>tablet', '<laptop') {
        font-size: 2.5vw;
      }
      @include media('>=laptop', '<split') {
        font-size: 1.5vw;
        letter-spacing: -0.025vw;
        line-height: 125%;
      }
      @include media('>=split') {
        font-size: 48px;
        letter-spacing: -0.95px;
        line-height: 125%;
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    text-align: center;
  }

  &-container {
    width: 100%;
  }

  &-main {
    overflow: hidden;
    padding: 6.5vw 0;
    @include media('<laptop') {
      padding: 20vw 0;
    }
    @include media('>=split') {
      padding: 768px 0;
    }
  }

  &-carousel {
    cursor: grab;
    will-change: transform;
    &:active {
      cursor: grabbing;
    }
    &.-v1 {
      margin-right: -300px;
      margin-bottom: 5vw;
      @include media('<laptop') {
        margin-bottom: 0px;
        margin-right: 0px;
      }
      @include media('>=split') {
        margin-bottom: 192px;
        margin-right: -600px;
      }
    }
  }

  &-items {
    width: 100%;
    display: flex;
    position: relative;

    @include media('<=tablet') {
      height: 50vw;
    }
    @include media('>tablet', '<laptop') {
      height: 40vw;
    }
    @include media('>=laptop', '<split') {
      height: 20vw;
    }
    @include media('>=split') {
      height: 1152px;
    }
  }

  &-item {
    flex-shrink: 0;
    margin-right: 11px;
    position: relative;
    height: 100%;

    @include media('<=tablet') {
      width: 40vw;
      margin-right: 3vw;
    }
    @include media('>tablet', '<laptop') {
      width: 30vw;
      margin-right: 4vw;
    }
    @include media('>=laptop', '<split') {
      width: 15vw;
      margin-right: 4vw;
    }
    @include media('>=split') {
      width: 768px;
      margin-right: 154px;
    }

    overflow: hidden;

    img {
      width: 100%;
    }
  }
}
