.page-hero {
  $root: &;

  display: block;
  flex-direction: column;
  background: $color-bg;
  overflow: hidden;

  padding-top: 14vw;
  @include media('<laptop') {
    padding-top: 34.05vw;
  }
  @include media('>=laptop', '<split') {
    padding-bottom: 4.5vw;
  }
  @include media('>=split') {
    padding-top: 538px;
    padding-bottom: 172px;
  }

  //$ Heading Style
  &-heading {
    font-size: 4.425vw;
    letter-spacing: -0.2vw;
    line-height: 125%;
    padding-inline: 15.5vw;
    margin-bottom: 11.5vw;
    overflow: hidden;
    @include media('<laptop') {
      font-size: 5.9vw;
      letter-spacing: -0.2vw;
      padding-inline: 8vw;
      margin-bottom: 37vw;
    }
    @include media('>=split') {
      font-size: 170px;
      letter-spacing: -8px;
      line-height: 125%;
      padding-inline: 595px;
      margin-bottom: 442px;
    }

    &-slideup {
      display: inline-block;
      @include transformPerspective(1000);
      @include transformRotateX(-90);
      @include transformTranslate3D(0, 200%, 0);
      opacity: 0;
    }
  }

  //$ Image Style
  &-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    @include media('<laptop') {
      height: 55vh;
    }
    @include media('>=split') {
      max-width: 3840px;
    }
    @include transformTranslate3D(0, 50%, 0); //` Before Mounting
    @include transformScale(1.2); //` Be at this State
    opacity: 0; //` For Loading Animation
  }
}
