//& Awards - Page Styling
.awards {
  $root: &;

  height: 100vh;
  background: $color-bg;
  @include media('>=split') {
    max-width: 3840px;
  }

  &-sub-heading {
    padding-left: 15.5vw;
    padding-right: 25.5vw;
    margin-top: -7.5vw;
    padding-bottom: 7.5vw;
    opacity: 0;
    font-size: 1.75vw;
    @include media('>=split') {
      padding-left: 596px;
      padding-right: 980px;
      margin-top: -288px;
      padding-bottom: 288px;
      font-size: 58px;
    }
  }

  &-title {
    padding-inline: 15.5vw;
    padding-block: 3.5vw;
    letter-spacing: -0.1vw;
    font-size: 5vw;
    @include media('>=split') {
      padding-inline: 596px;
      padding-block: 134px;
      letter-spacing: -3.5px;
      font-size: 192px;
    }
  }

  &-desc {
    padding-left: 15.5vw;
    padding-right: 20.5vw;
    font-size: 1.75vw;
    margin-bottom: -7.5vw;
    @include media('>=split') {
      padding-left: 596px;
      padding-right: 788px;
      font-size: 68px;
      margin-bottom: -288px;
    }
  }

  &-button {
    width: 100%;
    height: auto;
    margin-top: -6.5vw;
    background: $color-bg;
    @include displayCenter;
    @include media('>=split') {
      margin-top: -250px;
    }
  }
}
