//& Careers - Page Styling
.careers {
  $root: &;

  height: 100vh;
  background: $color-bg;
  @include media('>=split') {
    max-width: 3840px;
  }

  //$ Overview
  &-heading {
    font-size: 4.425vw;
    letter-spacing: -0.2vw;
    line-height: 125%;
    padding-inline: 15.5vw;
    margin-top: 0px;
    margin-bottom: -7.5vw;
    background: $color-bg;
    @include media('<=tablet') {
      font-size: 7.5vw;
      letter-spacing: -0.2vw;
      padding-inline: 8vw;
      margin-top: 45vw;
      margin-bottom: -20vw;
    }
    @include media('>tablet', '<laptop') {
      font-size: 5.9vw;
      letter-spacing: -0.2vw;
      padding-inline: 8vw;
      margin-top: 25vw;
      margin-bottom: -20vw;
    }
    @include media('>=split') {
      font-size: 170px;
      letter-spacing: -6px;
      line-height: 125%;
      padding-inline: 596px;
      margin-top: 0px;
      margin-bottom: -288px;
    }

    &-slideup {
      display: inline-block;
    }

    &-overview {
      @include media('<=tablet') {
        margin-bottom: 18.5vw;
      }
      @include media('>tablet', '<laptop') {
        margin-bottom: 13.5vw;
      }
    }
  }

  //$ Already Worked With Us
  &-already {
    @extend .careers-heading;
    margin-bottom: 0px !important;

    @include media('<=tablet') {
      font-size: 6.25vw;
      margin-top: 13.5vw !important;
    }
    @include media('>tablet', '<laptop') {
      font-size: 6.25vw;
      margin-top: 13.5vw !important;
    }

    &-row {
      @include displaySpaceBetween;
      padding-inline: 15.5vw;
      padding-top: 6.5vw;
      background: $color-bg;
      @include media('<=tablet') {
        flex-direction: column;
        padding-inline: 8.5vw;
      }
      @include media('>tablet', '<laptop') {
        flex-direction: column;
        padding-inline: 8.5vw;
      }
      @include media('>=split') {
        padding-inline: 596px;
        padding-top: 250px;
      }
    }

    &-desc {
      flex: 0.75;
      @include media('<=tablet') {
        font-size: 4.25vw !important;
        padding-right: 15%;
      }
      @include media('>tablet', '<laptop') {
        font-size: 2.75vw !important;
        padding-right: 35%;
      }
    }
    &-input {
      @include displaySpaceBetween;
      justify-content: flex-end;
      flex: 1;
      @include media('<=tablet') {
        width: 100%;
        margin-top: 13.5vw;
        form {
          width: 100%;
        }
      }
      @include media('>tablet', '<laptop') {
        width: 100%;
        margin-top: 9.5vw;
        form {
          width: 100%;
        }
      }
    }
    &-button {
      width: 100%;
      height: 20vw;
      @include displayCenter;
      background: $color-bg;
      @include media('<laptop') {
        justify-content: flex-end;
        padding-right: 5vw;
      }
      @include media('>=split') {
        height: 768px;
      }
    }
  }
}
//& Input Field
.material {
  position: relative;
  padding: 0;
  width: 25vw;
  margin: 1.5vw;
  border: none;
  overflow: visible;
  @include media('<laptop') {
    width: inherit;
  }
  @include media('>=split') {
    width: 960px;
    margin: 58px;
  }
  input {
    box-sizing: border-box;
    width: 100%;
    padding: 1.5vw 0.25vw 1vw;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 0.1vw solid $color-graybase;
    font-size: 1.5vw;
    outline: none;
    cursor: text;
    background: $color-bg;
    @include media('<=tablet') {
      font-size: 4.25vw;
      border-bottom: 0.2vw solid $color-graybase;
      padding: 2.5vw 0.25vw 1.5vw;
    }
    @include media('>tablet', '<laptop') {
      font-size: 3.5vw;
      border-bottom: 0.2vw solid $color-graybase;
      padding: 2.5vw 0.25vw 1.5vw;
    }
    @include media('>=split') {
      padding: 58px 10px 38px;
      border-bottom: 4px solid $color-graybase;
      font-size: 58px;
    }

    &::-webkit-input-placeholder {
      transition: color 350ms ease-out;
    }
    &:not(:focus)::-webkit-input-placeholder {
      color: transparent;
    }
  }

  hr {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0.1vw;
    border: none;
    background: $color-graybase;
    font-size: 1px;
    will-change: transform, visibility;
    transition: all 200ms ease-out;
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
    @include media('<=tablet') {
      height: 0.2vw;
    }
    @include media('>tablet', '<laptop') {
      height: 0.2vw;
    }
    @include media('>=split') {
      height: 4px;
      font-size: 2px;
    }
  }
  input:focus ~ hr {
    transform: scaleX(1);
    visibility: visible;
  }

  label {
    position: absolute;
    top: 0.5vw;
    left: 0px;
    font-size: 1.5vw;
    color: $color-graybase;
    opacity: 0.6;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    @include media('<=tablet') {
      font-size: 5.5vw;
    }
    @include media('>tablet', '<laptop') {
      font-size: 4.25vw;
    }
    @include media('>=split') {
      top: 20px;
      left: 0px;
      font-size: 58px;
    }
  }
  input:focus ~ label,
  input:valid ~ label {
    transform: scale(0.6);
  }
}
