//& Contact Us - Page Styling
.contact-page {
  $root: &;

  height: 100vh;
  background: $color-bg;

  @include media('>=split') {
    max-width: 3840px;
  }

  //& Page Hero
  &-hero {
    width: 100%;
    height: 44vw;
    margin-top: 14vw;
    padding-bottom: 14vw;
    background: $color-bg;

    position: relative;
    z-index: 85;

    @include media('<=tablet') {
      margin-top: 20vw;
    }
    @include media('<laptop') {
      height: auto;
    }
    @include media('>=split') {
      height: 1690px;
      margin-top: 538px;
      padding-bottom: 538px;
    }

    &-row {
      @include displaySpaceBetween;
      align-items: flex-start;
      @include fullSize;
      // background: $color-bg;

      padding-left: 11.75%;
      padding-right: 3.75%;

      @include media('<laptop') {
        flex-direction: column;
      }
    }

    &-info {
      display: block;
    }

    &-title {
      font-size: 4vw;
      letter-spacing: -0.15vw;
      line-height: 125%;
      opacity: 0;

      @include media('<=tablet') {
        font-size: 7.5vw;
      }

      @include media('>tablet', '<laptop') {
        font-size: 5.5vw;
      }
      @include media('>=split') {
        font-size: 154px;
        letter-spacing: -5.5px;
      }
    }

    &-desc {
      font-size: 1.75vw;
      letter-spacing: -0.035vw;
      opacity: 0;
      @include media('<=tablet') {
        font-size: 3.75vw;
      }
      @include media('>tablet', '<laptop') {
        font-size: 2.75vw;
      }
      @include media('>=split') {
        font-size: 68px;
        letter-spacing: -1.15px;
      }
    }

    &-image {
      width: 42.5vw;
      height: 100%;
      opacity: 0;
      @include transformTranslate3D(0, 50%, 0);

      @include media('<=tablet') {
        width: 100vw;
        height: 85vw;
        margin-left: -14%;
        padding-top: 18.5vw;
      }

      @include media('>tablet', '<laptop') {
        width: 100vw;
        height: 85vw;
        margin-left: -14%;
        padding-top: 10vw;
      }

      @include media('>=split') {
        width: 1632px;
      }
    }
  }
}
