//& What We Do - Page Styling
.services {
  $root: &;

  height: 100vh;
  background: $color-bg;
  @include media('>=split') {
    max-width: 3840px;
  }

  //$ Specialty - Website Apps Branding Design
  &-specialty {
    display: flex;
    height: 40vw;
    flex-direction: row;
    background: $color-bg;

    @include media('<laptop') {
      height: auto;
      flex-direction: column;
      margin-top: 33.5vw;
    }
    @include media('>=laptop', '<split') {
      padding-left: 12.5%;
      padding-right: 15.5%;
      margin-top: 0px;
    }
    @include media('>=split') {
      height: 1536px;
      padding-left: 12.5%;
      padding-right: 15.5%;
      margin-top: 0px;
    }

    &-serial {
      font-weight: 700;
      -webkit-text-stroke-color: $color-graybase;
      -webkit-text-fill-color: transparent;

      @include media('<=tablet') {
        font-size: 5.5vw;
        -webkit-text-stroke-width: 0.2vw;
      }
      @include media('>tablet', '<laptop') {
        -webkit-text-stroke-width: 0.2vw;
        font-size: 4.5vw;
      }
      @include media('>=laptop', '<split') {
        font-size: 3.15vw;
        letter-spacing: -0.05vw !important;
        line-height: 125%;
        -webkit-text-stroke-width: 0.055vw;
      }
      @include media('>=split') {
        font-size: 122px;
        letter-spacing: -1.15px !important;
        line-height: 125%;
        -webkit-text-stroke-width: 2px;
      }
    }

    &-name {
      @extend .hero-subheading-serial;

      -webkit-text-stroke-color: $color-graybase;
      -webkit-text-fill-color: $color-graybase;

      @include media('<=tablet') {
        font-size: 10vw;
        -webkit-text-stroke-width: 0.2vw;
        line-height: 90%;
      }
      @include media('>tablet', '<laptop') {
        -webkit-text-stroke-width: 0.2vw;
        font-size: 9vw;
        line-height: 90%;
      }
      @include media('>=laptop', '<split') {
        font-size: 6.15vw;
        letter-spacing: -0.35vw !important;
        -webkit-text-stroke-width: 0vw;
      }
      @include media('>=split') {
        font-size: 236px;
        letter-spacing: -12px !important;
        -webkit-text-stroke-width: 0px;
      }
    }

    &-title {
      display: block;
      padding-inline: 8.5%;
    }

    &-desc {
      display: block;
      padding-top: 16vw;
      @include media('<=tablet') {
        font-size: 4.25vw;
        letter-spacing: -0.03vw;
        padding-block: 10.5vw;
        padding-left: 8.5%;
        padding-right: 7%;
      }
      @include media('>tablet', '<laptop') {
        font-size: 3vw;
        padding-inline: 8.5%;
        padding-block: 7.5vw;
      }
      @include media('>=laptop', '<split') {
        padding-top: 5.75vw;
        padding-left: 8.5%;
        padding-right: 8.5%;
        letter-spacing: -1.15px;
        line-height: 125%;
        font-size: 1.5vw;
      }
      @include media('>=split') {
        padding-top: 220px;
        padding-left: 8.5%;
        padding-right: 8.5%;
        letter-spacing: -0.03vw;
        line-height: 125%;
        font-size: 58px;
      }
    }

    &-row-1 {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    &-row-2 {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      @include media('<=tablet') {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-top: 10vw;
        height: 165vw;
        flex: auto;
      }
      @include media('>tablet', '<laptop') {
        display: flex;
        justify-content: flex-end;
        padding-top: 10vw;
        width: 100%;
        height: 100vw;
        flex: auto;
      }
      &-image {
        width: 25vw;
        height: 100%;
        @include media('<laptop') {
          width: 100%;
        }
        @include media('>=split') {
          width: 960px;
        }
      }
    }

    &-v2 {
      @extend .services-specialty;
      @include media('>=laptop') {
        padding-left: 15.5%;
        padding-right: 12.5%;
      }
    }
  }

  //$ 12 Reasons Why
  &-reasons {
    background: $color-bg;
    @include media('<laptop') {
      margin-top: 28vw;
      margin-bottom: 40vw;
    }
    @include media('>=laptop', '<split') {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-inline: 8.75%;
    }
    @include media('>=split') {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-inline: 8.75%;
    }

    &-title {
      display: block;
      padding-inline: 7.5%;
    }

    &-row {
      @include displaySpaceBetween;
      padding-left: 8%;
      padding-right: 2%;
      @include media('<laptop') {
        flex-direction: column;
      }
      &-item {
        width: 100%;
        display: block;
        @include media('<laptop') {
          padding-top: 5vw;
        }

        &-desc {
          width: 80%;
          margin-top: 0.65vw;
          font-size: 1.15vw;
          letter-spacing: -0.035vw;
          @include media('<=tablet') {
            font-size: 3.5vw;
          }
          @include media('>tablet', '<laptop') {
            font-size: 2.5vw;
          }
          @include media('>=split') {
            margin-top: 26px;
            font-size: 44px;
            letter-spacing: -1.15px;
          }
        }
      }
    }
  }

  //$ Catalog
  &-catalog {
    @include displayCenter;
    flex-direction: column;
    background: $color-bg;

    @include media('<laptop') {
      margin-top: 28vw;
      margin-bottom: 40vw;
    }
    @include media('>=laptop', '<split') {
      margin-top: 0px;
      padding-bottom: 5vw;
    }
    @include media('>=split') {
      margin-top: 0px;
    }
    &-title {
      font-size: 4.5vw;
      letter-spacing: -0.15vw;
      line-height: 125%;
      font-weight: 400;
      @include media('>=split') {
        font-size: 172px;
        letter-spacing: -6px;
      }
    }
    &-row {
      @include displaySpaceBetween;
      flex-direction: row;
      position: relative;
      white-space: nowrap;
      padding: 0;
      will-change: transform;
      overflow: hidden;
      @include media('>=laptop') {
        width: 115%;
      }
      &-item {
        font-size: 1.5vw;
        font-weight: 400;
        letter-spacing: -0.035vw;
        padding: 0;
        display: inline-block;
        margin-right: 10vw;
        @include media('<=tablet') {
          font-size: 3.5vw;
          padding-top: 10vw;
        }
        @include media('>tablet', '<laptop') {
          font-size: 2.5vw;
          padding-top: 5vw;
        }
        @include media('>=split') {
          font-size: 58px;
          letter-spacing: -1.15px;
          margin-right: 384px;
        }
      }
    }
  }
}
.desktop {
  @include media('<laptop') {
    display: none;
  }
}
.mobile {
  @include media('>=laptop') {
    display: none;
  }
}
.margin-reasons {
  @include media('<laptop') {
    padding-left: 5vw;
  }
}
.margin-reasons-medium {
  margin-top: 9vw;
  @include media('>=split') {
    margin-top: 344px;
  }
}
.margin-reasons-small {
  @include media('>=laptop', '<split') {
    margin-top: 3vw;
  }
  @include media('>=split') {
    margin-top: 116px;
  }
}
