//& The Studio - Page Styling
.studio {
  $root: &;

  height: 100vh;
  background: $color-bg;
  @include media('>=split') {
    max-width: 3840px;
  }

  &-heading {
    font-size: 4.425vw;
    letter-spacing: -0.2vw;
    line-height: 125%;
    padding-inline: 15.5vw;
    margin-bottom: -7.5vw;
    background: $color-bg;
    @include media('<=tablet') {
      font-size: 7.5vw;
      letter-spacing: -0.2vw;
      padding-inline: 8vw;
      margin-top: 45vw;
      margin-bottom: -20vw;
    }
    @include media('>tablet', '<laptop') {
      font-size: 5.9vw;
      letter-spacing: -0.2vw;
      padding-inline: 8vw;
      margin-top: 45vw;
      margin-bottom: -20vw;
    }
    @include media('>=laptop', '<split') {
      margin-top: 0px !important;
    }
    @include media('>=split') {
      font-size: 170px;
      letter-spacing: -8px;
      line-height: 125%;
      padding-inline: 595px;
      margin-top: 0px !important;
      margin-bottom: -288px;
    }

    &-slideup {
      display: inline-block;
    }
  }

  &-message {
    text-align: center;
    margin-top: 20vw;
    font-size: 4.25vw;
    padding-inline: 4%;
  }

  &-logo {
    @include displayCenter;
    position: relative;
    background: $color-bg;
    margin-top: 25vw;
    @include media('<=tablet') {
      margin-top: 85vw;
      margin-bottom: 55vw;
    }
    @include media('>tablet', '<laptop') {
      margin-top: 45vw;
    }
    @include media('>=laptop', '<split') {
      margin-top: 0px;
    }
    @include media('>=split') {
      margin-top: 0px;
    }
    &-image {
      height: 11.5vw;
      @include media('>=split') {
        height: 442px;
      }
    }
  }
}
