.aerosols {
  $root: &;

  //& Aerosol Body
  position: relative;
  z-index: 3;
  overflow: hidden;

  @include fullHeight;
  @include displayCenter;

  &-content {
    position: relative;
    z-index: -10000;
  }

  //& Aerosol Particles - Text & Circles
  &-particles {
    $this: &;

    @include absoluteZero;

    overflow: hidden;
    z-index: 5;
    contain: content;
    pointer-events: none;
    opacity: 0;

    //$ Aerosol Item
    &-item {
      $this: &;

      position: absolute;
      pointer-events: none;

      //$ Aerosol Types (Subclasses)
      //` Circles
      &.-dot {
        &:before {
          content: '';
          display: block;

          border-radius: 50%;
        }
      }
      //` Texts
      &.-text {
        span {
          opacity: 0.6;
        }
      }
      //` Emoji
      &.-emoji {
        font-size: 2.25vw;
        display: inline-block;
        vertical-align: middle;
        @include media('<laptop') {
          display: none;
        }
      }

      //$ Aerosol Positions (from Left)
      &.-v1 {
        left: 5%;
      }

      &.-v2 {
        left: 10%;
      }

      &.-v3 {
        left: 15%;
        @include media('<laptop') {
          left: 20%;
        }
      }

      &.-v4 {
        left: 20%;
      }

      &.-v5 {
        left: 25%;
        @include media('<laptop') {
          left: 35%;
        }
      }

      &.-v6 {
        left: 46.5%;
      }

      &.-v7 {
        left: 65%;
        @include media('<laptop') {
          left: 55%;
        }
      }

      &.-v8 {
        left: 85%;
      }

      &.-v9 {
        left: 90%;
      }

      &.-v10 {
        left: 90%;
      }

      &.-v11 {
        left: 95%;
        @include media('<laptop') {
          left: 85%;
        }
      }

      //$ Font Sizes (Subclasses)
      &.-s1 {
        font-size: 0.75vw;
        @include media('<laptop') {
          font-size: 1.5vw;
        }
      }

      &.-s2 {
        font-size: 0.9vw;
        @include media('<laptop') {
          font-size: 2vw;
        }
      }

      &.-s3 {
        font-size: 1.05vw;
        @include media('<laptop') {
          font-size: 2.5vw;
        }
      }

      &.-s4 {
        font-size: 1.15vw;
        @include media('<laptop') {
          font-size: 3vw;
        }
      }

      &.-s5 {
        font-size: 1.05vw;
        @include media('<laptop') {
          font-size: 3.5vw;
        }
      }

      &.-s6 {
        font-size: 0.9vw;
        @include media('<laptop') {
          font-size: 4vw;
        }
      }

      &.-s7 {
        font-size: 1.25vw;
        @include media('<laptop') {
          font-size: 4.5vw;
        }
      }

      //$ Circle Sizes (Subclasses)
      &.-p1 {
        &:before {
          width: 0.75vw;
          height: 0.75vw;
          @include media('<laptop') {
            width: 1.75vw;
            height: 1.75vw;
          }
        }
      }
      &.-p2 {
        &:before {
          width: 0.85vw;
          height: 0.85vw;
          @include media('<laptop') {
            width: 2.85vw;
            height: 2.85vw;
          }
        }
      }
      &.-p3 {
        &:before {
          width: 0.95vw;
          height: 0.95vw;
          @include media('<laptop') {
            width: 1.95vw;
            height: 1.95vw;
          }
        }
      }
      &.-p4 {
        &:before {
          width: 1.05vw;
          height: 1.05vw;
          @include media('<laptop') {
            width: 2.05vw;
            height: 2.05vw;
          }
        }
      }
      &.-p5 {
        &:before {
          width: 1.15vw;
          height: 1.15vw;
          @include media('<laptop') {
            width: 3.15vw;
            height: 3.15vw;
          }
        }
      }
      &.-p6 {
        &:before {
          width: 1.25vw;
          height: 1.25vw;
          @include media('<laptop') {
            width: 2.25vw;
            height: 2.25vw;
          }
        }
      }

      //$ Aerosol Colors
      &.-c1 {
        &:before {
          background: #ff2e5c;
          color: #ff2e5c;
        }
      }

      &.-c2 {
        &:before {
          background: #fba754;
          color: #fba754;
        }
      }

      &.-c3 {
        &:before {
          background: #572ce8;
          color: #572ce8;
        }
      }

      &.-c4 {
        &:before {
          background: #7affcf;
          color: #7affcf;
        }
      }

      &.-c5 {
        &:before {
          background: #ff7a7a;
          color: #ff7a7a;
        }
      }

      &.-c6 {
        &:before {
          background: #7d7aff;
          color: #7d7aff;
        }
      }
    }
  }
}
