//$ Header Component
.header {
  $root: &;

  //` Desktop
  width: 100%;
  height: 2.55vw;
  @include displaySpaceBetween;
  background: $color-bg;

  position: relative;
  top: 3.5vw;
  padding-left: 4vw;
  font-size: 1.15vw;
  @include transformTranslate3D(0, -250%, 0);

  z-index: 55;
  //` Other Devices
  @include media('<=phone') {
    top: 15.3px;
    min-height: 50px;
  }
  @include media('>phone', '<=tablet') {
    top: 22.5px;
    min-height: 65px;
  }
  @include media('>tablet', '<=crt') {
    top: 42.2px;
    min-height: 65px;
  }
  @include media('>crt', '<=laptop') {
    top: 25.6px;
    min-height: 120px;
  }
  @include media('>=split') {
    top: 100px;
    min-height: 140px;
  }

  //@ Fixed Menu Button Header
  &-fix-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 125;

    @include media('<=phone') {
      right: 6%;
    }
    @include media('>phone', '<=tablet') {
      right: 6%;
    }
    @include media('>tablet', '<=laptop') {
      right: 0%;
    }
    @include media('>=split') {
      right: 0%;
    }
  }

  //@ Fixed Contact Button
  &-fix-contact {
    position: fixed;
    bottom: 32px;
    right: 0;
    z-index: 75;
  }

  //@ Logo Container
  &-logo {
    position: relative;
    width: 8.25vw;
    height: 100%;
    cursor: pointer;

    @include media('<=tablet') {
      width: 105px;
      left: 1.5%;
    }
    @include media('>tablet', '<=laptop') {
      width: 145px;
    }
    @include media('>=split') {
      width: 250px;
    }

    //` Next Image
    &-img {
      width: 100%;
      height: 100%;
    }
  }

  //$ Right Section
  &-right {
    @include displaySpaceBetween;
    cursor: pointer;
    margin-right: 4vw;

    @include media('<=tablet') {
      padding-right: 12%;
    }

    //@ Showreel Buttons
    &-showreel {
      width: 6.5vw;
      padding-block: 1vw;

      line-height: 2.55vw;
      font-weight: 400;

      z-index: 130;

      @include media('<=tablet') {
        display: none;
      }
      @include media('>tablet', '<=laptop') {
        font-size: 20px;
        width: 115px;
      }
      @include media('>=split') {
        font-size: 48px;
        width: 280px;
      }
    }

    //@ Menu Open Button Container
    &-button {
      position: relative;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-top: 4.85vw;
      padding-bottom: 5vw;
      padding-left: 5.25vw;
      padding-right: 4.5vw;
      pointer-events: all !important;

      @include media('<=phone') {
        padding-top: 39.2px;
      }
      @include media('>phone', '<=tablet') {
        padding-top: 55px;
      }
      @include media('>tablet', '<=crt') {
        padding-top: 76.8px;
      }
      @include media('>crt', '<=laptop') {
        padding-top: 87px;
      }
      @include media('>=split') {
        padding-top: 175px;
      }

      //` Menu Lottie
      &-lottie {
        position: absolute;
        display: flex;
        width: 3vw;

        @include media('<=tablet') {
          width: 51px;
        }
        @include media('>tablet', '<=laptop') {
          width: 56px;
        }
        @include media('>=split') {
          width: 115px;
        }
      }
    }

    //@ Logo Container
    &-contact {
      position: relative;
      cursor: pointer;
      width: 4vw;
      height: 4vw;
      margin-right: 2vw;

      @include media('<=tablet') {
        width: 51px;
        height: 51px;
        margin-right: 17px;
      }
      @include media('>tablet', '<=laptop') {
        width: 72px;
        height: 72px;
        margin-right: 20px;
      }
      @include media('<=phone') {
        margin-bottom: 20px;
      }
      @include media('>phone', '<=tablet') {
        margin-bottom: 75px;
      }
      @include media('>tablet', '<=crt') {
        margin-bottom: 115px;
      }
      @include media('>crt', '<=laptop') {
        margin-bottom: 115px;
      }
      @include media('>=split') {
        width: 115px;
        height: 115px;
        margin-right: 135px;
      }

      //` Next Image
      &-svg {
        width: 100%;
        height: 100%;
      }
    }

    //` Dark Mode Lottie
    &-dark-mode {
      display: flex;
      width: 5vw;

      @include media('<=tablet') {
        width: 64px;
      }
      @include media('>tablet', '<=laptop') {
        width: 72px;
      }
      @include media('>=split') {
        width: 155px;
      }
    }
  }
}
