//$ Import Menu Sections
@import 'header';
@import 'content';
@import 'footer';

.menu {
  $root: &;

  display: block !important;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 100;
  @include fullSize;
  @include media('>tablet', '<=laptop') {
    min-height: 812px;
  }

  &-body {
    @include fullSize;
    @include displaySpaceBetween;

    @include media('<laptop') {
      padding-bottom: 56px;
    }
    flex-direction: column;
    background: $color-bg;
  }
}
